.card-item {
  background-color: var(--color-black-2);
  border-radius: 5px;
  transition: .4s;
  padding: 20px;
}

.card-item:hover {
  transform: scale(1.1);
}

.card-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item svg {
  font-size: 2em;
  background-color: var(--color-blue-1);
  color: white;
  border-radius: 100%;
  padding: 10px;
}

.card-item h3{
  margin: 1em 0;
}
.card-item p{
  color: var(--color-white-2);
  font-size: 0.9em;
  margin-bottom: 1em;
}

.card-item li{
  color: var(--color-white-2);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}