#nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 70px;
}

#nav-bar a{
  color: var(--color-white-1);
  background-color: var(--color-blue-1);
  padding: 10px 20px;
  border-radius: 5px;
}

#nav-bar a:hover{
  background-color: var(--color-blue-2);
}